@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Hello There!</h1>
    <p class="lead"><a href="@Url.Content($"~/DesignSystem")">Design System</a> Page contains all the web components and/or styles to be used in Building the Ticketing Management System.</p>
</div>
